body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
  text-align: center;
}
img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
figcaption {
  font-size: small;
  text-align: center;
}
nav {
  a{
  padding: 10px 10px;
  background: gray;
  text-align: center;
  }
}
#featured-property {
  p {
    text-align: center;
    margin: auto;
    width: 800px;
    position: relative;
    padding: 10px;
  }
}
#details {
  div {
    background: red;
    float: left;
    text-align: center;
    width: 25%;
  }
 
}